Redirect 301 /in-nhanh-namecard-danh-thiep-lay-trong-ngay/ /dich-vu/in-namecard-danh-thiep/
Redirect 301 /in-catalogue-chat-luong-cao/ /dich-vu/in-catalogue/
Redirect 301 /in-tui-giay-hop-giay/ /dich-vu/in-tui-giay-hop-giay/
Redirect 301 /in-folder-kep-file-bia-ho-so/ /dich-vu/in-folder-kep-file-bia-ho-so/
Redirect 301 /in-profile-cong-ty/ /dich-vu/in-profile-ho-so-nang-luc-cong-ty/
Redirect 301 /in-to-roi-to-gap-flyer-leaflet/ /dich-vu/in-to-roi-to-gap-flyer-leaflet/
Redirect 301 /in-menu-nha-hang-quan-an/ /dich-vu/in-menu-nha-hang-quan-an/
Redirect 301 /in-thiep-moi-su-kien/ /dich-vu/in-thiep-moi-su-kien/

# BEGIN All In One WP Security
#AIOWPS_BASIC_HTACCESS_RULES_START
<Files .htaccess>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
ServerSignature Off
LimitRequestBody 10240000
<Files wp-config.php>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
#AIOWPS_BASIC_HTACCESS_RULES_END
#AIOWPS_DISABLE_INDEX_VIEWS_START
Options -Indexes
#AIOWPS_DISABLE_INDEX_VIEWS_END
# END All In One WP Security

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Sher: files expiration
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##

