.inner{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.col{
	display:inline-block;
	float:left;
}

.col.col-right{
	float:right;
}
.entry-content{
    font-family: 'Roboto Condensed', sans-serif; 	
}

body{
	font-family: 'Roboto Condensed', sans-serif; 
	font-size:16px;
	color:#2f2f2f;
	/*background:#f4f5f5;*/
}

a, a:hover, a:visited{
	text-decoration:none;
}

a:hover, a:focus{
	color:#333;
}

img{
	width:100%;
}
ul.list-style-none{
    list-style: none;
}
#site-header{	
	background:url('../images/header-contact2.png') repeat-x #FFF;	
}
#header-contact a{
    color:#FFF;
}
#site-header.active{
    position: fixed;
    z-index: 9;
    width: 100%;
}
#site-header.active  #header-row-2{
	background:#FFF;
	padding-top:10px;
}
#site-header.active   #site-name{
	width:auto;
	height:60px;
}
#site-header.active  #main-menu{
	top:6px;
}
#site-header.active  #main-menu li{
	padding-bottom:25px;
}
#search-area{
    width:320px;
    display: inline-block;    
    position: relative;
}
#search-area #btnSearch{
    display: inline-block;
    width:20px;
    height: 20px;
    background: url(../images/btnSearch.png) no-repeat;
    background-size: 100% 100%;
    border:none;
    position: absolute;
    right: 5px;
    top: 7px;
}
#search-area  #txtSearchService{
    width: 100%;
    padding: 5px;
}
#sub-menu-print{  
    display: inline-block;
    width: 100%;
    border:1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#sub-menu-print .item{
    display: inline-block;    
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 5px;
}
#sub-menu-print .col-sm-4 .item:last-child{
    border: none;
}
#sub-menu-print .item .ava{
    display: inline-block;
    float: left;
    width:150px;
}
#sub-menu-print .name{
    display: inline-block;
    float: left;
    width:150px;    
    padding-top: 30px;
}
#sub-menu-print .item img{
    height: 90px;
    width:auto;
    margin:auto;
    padding: 5px;
}
#sub-menu-print .item:hover img{
    -webkit-animation: imgZoom 0.2s forwards; 
    animation:    imgZoom 0.2s forwards; 
}
@keyframes imgZoom{
    from{
        padding:5px;
    }
    to{
        padding:0;
    }
}
#sub-menu-print .item:hover .name{
    -webkit-animation: moveTopPad 0.2s forwards; 
    animation:    moveTopPad 0.2s forwards; 
}
@keyframes moveTopPad{
    from{
        padding-top:30px;
    }
    to{
        padding-top:15px;
    }
}

#header-contact{
	text-align:right;
	color:#FFF;
	padding-top:10px;
	font-size:18px;
	font-weight:bold;
	padding-bottom:20px;
}
#header-row-2{	
	
}
#site-name{
	color:#01aef0;
	text-transform:uppercase;
	font-size:35px;
	height:100px;
	font-weight:bold;
	margin:0;
    padding-top: 20px;
}
#site-menu{
}
#main-menu {
	padding-top: 40px;
}
#main-menu li{
	list-style:none;
	margin-left:30px;
	display:inline-block;
	float:left;
	padding-bottom:35px;
}
#main-menu li.active,
#main-menu li.current-menu-item,
#main-menu li:hover{
	border-bottom:3px solid #fbb15b;
}
#header-row-3 {
	width:220px;
	display:block;
	margin:70px auto;
	color:#FFF;
	text-align:center;
}
#header-row-3 .row-1{
	background:url('../images/printer.png') no-repeat center center #0094be;
	height:80px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#header-row-3 .row-2{
	background:#f26664;
	font-size:24px;
	padding:20px;
}
#header-row-3 .row-3{
	background:url('../images/row3.png') no-repeat;
	background-size:100%;
	height:100px;
	padding:20px;
}
#list-services li a:hover{
    -webkit-animation: changeColor1 0.5s forwards; 
    animation:    changeColor1 0.5s forwards; 
}
@keyframes changeColor1{
    from{
        background: #f26664;
    }
    to{
        background: #0094be;
    }
}
#main-content{
    text-align: justify;
}
#home-intro{
    background:#4d4d4f;
    color:#FFF;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

a, a:hover, a:visited{
    color:#0094be;
}
#main-menu li:hover a{	
	color:#fbb15b;
}
#main-menu a{
	font-size:20px;
	text-transform:uppercase;
    float: right;
}


#home-main .feature{
	min-height:400px;
	color:#FFF;
}
#home-main #feature-1{
	background:#0094be;
}
#home-main #feature-2{
	background:#f26664;
	text-align:right;
}
#home-main #feature-3{
	background:#fbb15b;
}
#home-main .pic{
	background-size:contain;
	height:400px;
}
#home-main #feature-1 .pic{
	background:url('../images/slide1.png') no-repeat;	
	background-size:contain;
}
#home-main #feature-2 .pic{
	background:url('../images/slide2.png') no-repeat;	
	background-size:contain;
}
#home-main #feature-3 .pic{
	background:url('../images/slide3.png') no-repeat;	
	background-size:contain;
}

#home-main .feature h2{
	font-size:70px;
}

#home-main .feature h3{
	color:#191c20;
	font-style:italic;
	margin:30px 0 40px;
}
#home-main .feature h4{
	font-size: 16px;
    line-height: 26px;
}
#printing-services {
	background:#f4f5f5;
	display:inline-block;
	width:100%;
	padding:80px 0;
}
#printing-services .item{	
	overflow:hidden;
}

#printing-services .item .item-wrapper{
	padding:0 14px;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	overflow:hidden;
}
#printing-services .item .num{
	padding:10px 15px;
	background:#FFF;
	margin-left:20px;
	font-size:24px;
	display:inline-block;
	float:left;
	font-weight:bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#printing-services .item .title{
	font-size:30px;
	margin-left:15px;
	color:#FFF;
	display:inline-block;
	float:left;
	margin-top:10px;
}
#printing-services .item .row-1{
	background:#0094be;
	padding:20px 0;
}

#printing-services .item .more{
	margin:20px 0;
}
#printing-services .item .more .icon{
		background:url('../images/home-service-more.png') center center no-repeat #0094be;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:50px;
	height:50px;
	display:inline-block;
	float:left;
	margin-bottom:20px;
}
#printing-services .item .btn{
	display:inline-block;
	float:left;
	margin-left:10px;
	font-size:20px;
}

#printing-services .item-2 .row-1,
#printing-services .item-2 .more .icon{
	background-color:#f26664;
}
#printing-services .item-3 .row-1,
#printing-services .item-3 .more .icon{
	background-color:#fbb15b;
}

#footer{
	background:url('../images/footer.png') no-repeat;
	background-size:cover;
	padding:50px 0;
	text-align:center;
	color:#FFF;
}
#address{
	background:#31353d;
	color:#646b79;
	text-align:center;
	padding:10px;
}
#address a,
#footer a{
	color:#01aef0;
}

.entry-content img{
	width:auto;
	max-width:100%;
	display:block;
	margin:auto;
}
#list-services li{
	list-style:none;
	margin:10px 0;
	
}
/*
#list-services li.row-1{
	background:#01aef0;
}
#list-services li.row-2{
	background:#f26664;
}
#list-services li.row-3{
	background:#ebe004;
}
*/
#list-services li a{
	color:#FFF;
	font-size:20px;		
	padding:10px;	
	background:#f26664;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:inline-block;
	width:100%;
}

#breadcrumb{	
	border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-top: 20px;
    padding:10px 0;
	background: #4d4d4f;
    color:#FFF;
}

#breadcrumb li{
	list-style:none;
	display:inline-block;
	float:left;
}
#breadcrumb a{
	color:#FFF;
}
#detail-main{
	margin:30px 0;
}
h1{
	color:#f26664;
	text-transform:uppercase;
    margin:10px 0; 
}

.entry-content{
	font-family:sans-serif;
}
#sidebar #header-row-3{
	width:100%;
}
.ajax-loader{
	width:auto;
}
.entry-content h3{
	color:#f26664;
}

/* tabs */
#tabs {
	border:none;
}
#tabs ul{
	padding:0;
	margin:0;
	background: none;
    border: none;
}
#tabs li{	
	list-style:none;
	padding:0;
	margin:5px 0;
	width:100%;
	background: none;
    border: none;
}
#tabs li a{
	color:#FFF;
	font-size:20px;		
	padding:10px;	
	background:#f26664;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:inline-block;
	width:100%;	
}

#tabs li.ui-tabs-active a{
	background:url('../images/printer.png') no-repeat 90% center #01aef0;
	background-size:30px;
}
/* END tabs */

#post-138 h2{
    color:#01aef0;
}
td{
    border:2px solid #333;
    padding:5px;
    text-align: center;
}
table tr:first-child{
    background: #f26664;
    color:#FFF;
}

img{
    width:80%;
    margin:0;
}

.single-post #main-content img{
    width:600px;
    margin:10px auto;
}

#post-more-info{
    color:#ccc;
    font-style: italic;
    font-size:11px;
    margin-bottom: 10px;
}
.foogallery-container img{
    width:150px !important;
    display: inline-block;
    float: left;
}
@media (max-width: 768px) {   
    #site-name{
        height: 70px;
        font-size: 28px;
    }
    #header-contact{
		text-align:left;
	}
	#main-menu li{
		width:100%;
		padding:8px;
		margin:0;
	}
	#main-menu{
		margin:0;
		padding:0;
		background:#eee;
		position:absolute;
		display:none;
		top:-110px;
		width:100%;
		text-align:center;
	}
	#main-menu li.active, 
	#main-menu li.current-menu-item, 
	#main-menu li:hover{
		border:none;
	}
	#btnShowMenu{
		position:absolute;
		top:-150px;
		right:0;
		z-index:9;
		cursor:pointer;
		background:url('../images/menu.png') center center no-repeat;
		background-size:100%;
		width:36px;
		height:36px;
	}
	#home-main .feature .pic{
		background-position:center !important;
	}
	#home-main #feature-2{
		text-align:left;
	}
	#printing-services .item{
		margin-bottom:35px;
	}
	#footer{
		padding:30px 0;		
	}
    #sub-menu-print .item .ava{
        float: right;
    }
    #sub-menu-print .name{
        width:100px;
    }
}